<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mtdDFontedatiDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDFontedatiDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdDLinguaDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDLinguaDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdDStandardEsposDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDStandardEsposDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdDTipoCategoriaDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDTipoCategoriaDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdDTipoFunzioneDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDTipoFunzioneDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdDTipoOggettoDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdDTipoOggettoDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdRCategLinguaDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdRCategLinguaDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdRCategappCategoriDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdRCategappCategoriDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdRCategoriaMtdDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdRCategoriaMtdDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdRParolachiaveMtdDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdRParolachiaveMtdDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTCategoriaDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTCategoriaDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTCategoriaApplDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTCategoriaApplDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTDettlogDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTDettlogDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTFunzioneDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTFunzioneDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTLogDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTLogDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTMetadatoDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTMetadatoDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTMtdCswDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTMtdCswDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTMtdPlusDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTMtdPlusDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTParolaChiaveDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTParolaChiaveDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTStoricoFunzioneDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTStoricoFunzioneDAOImpl">
		<property name="template" ref="template" />
	</bean>
	<bean id="mtdTStoricoMtdCswDAO" class="it.csi.sira.backend.metadata.integration.dao.impl.MtdTStoricoMtdCswDAOImpl">
		<property name="template" ref="template" />
	</bean>

	<!-- DAO MANAGER -->

	<bean id="daoManager" class="it.csi.sira.backend.metadata.utils.DAOManager">

					<property name="mtdDFontedatiDAO" ref="mtdDFontedatiDAO" />
					<property name="mtdDLinguaDAO" ref="mtdDLinguaDAO" />
					<property name="mtdDStandardEsposDAO" ref="mtdDStandardEsposDAO" />
					<property name="mtdDTipoCategoriaDAO" ref="mtdDTipoCategoriaDAO" />
					<property name="mtdDTipoFunzioneDAO" ref="mtdDTipoFunzioneDAO" />
					<property name="mtdDTipoOggettoDAO" ref="mtdDTipoOggettoDAO" />
					<property name="mtdRCategLinguaDAO" ref="mtdRCategLinguaDAO" />
					<property name="mtdRCategappCategoriDAO" ref="mtdRCategappCategoriDAO" />
					<property name="mtdRCategoriaMtdDAO" ref="mtdRCategoriaMtdDAO" />
					<property name="mtdRParolachiaveMtdDAO" ref="mtdRParolachiaveMtdDAO" />
					<property name="mtdTCategoriaDAO" ref="mtdTCategoriaDAO" />
					<property name="mtdTCategoriaApplDAO" ref="mtdTCategoriaApplDAO" />
					<property name="mtdTDettlogDAO" ref="mtdTDettlogDAO" />
					<property name="mtdTFunzioneDAO" ref="mtdTFunzioneDAO" />
					<property name="mtdTLogDAO" ref="mtdTLogDAO" />
					<property name="mtdTMetadatoDAO" ref="mtdTMetadatoDAO" />
					<property name="mtdTMtdCswDAO" ref="mtdTMtdCswDAO" />
					<property name="mtdTMtdPlusDAO" ref="mtdTMtdPlusDAO" />
					<property name="mtdTParolaChiaveDAO" ref="mtdTParolaChiaveDAO" />
					<property name="mtdTStoricoFunzioneDAO" ref="mtdTStoricoFunzioneDAO" />
					<property name="mtdTStoricoMtdCswDAO" ref="mtdTStoricoMtdCswDAO" />
				
	</bean>

</beans>
