<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sequenceManager" class="it.csi.sira.backend.metadata.utils.SequenceManager">

		<property name="seqMtdTMetadato" ref="seqMtdTMetadata" />
		<property name="seqMtdTFunzione" ref="seqMtdTFunction" />
		<property name="seqMtdTParolaChiave" ref="seqMtdTKeyword" />

	</bean>

	<bean id="seqMtdTMetadata" class="org.springframework.jdbc.support.incrementer.PostgreSQLSequenceMaxValueIncrementer">
		<constructor-arg ref="dataSource" />
		<constructor-arg value="seq_bifisic_mtd_t_metadata" />
	</bean>

	<bean id="seqMtdTFunction" class="org.springframework.jdbc.support.incrementer.PostgreSQLSequenceMaxValueIncrementer">
		<constructor-arg ref="dataSource" />
		<constructor-arg value="seq_bifisic_mtd_t_function" />
	</bean>

	<bean id="seqMtdTKeyword"
		class="org.springframework.jdbc.support.incrementer.PostgreSQLSequenceMaxValueIncrementer">
		<constructor-arg ref="dataSource" />
		<constructor-arg value="seq_bifisic_mtd_t_keyword" />
	</bean>


</beans>
